.btn1 {
  border-radius:50%;
  background-color: #C7B89D;
  display:inline-flex;
  flex-direction:column;
  justify-content:center;
  height:3rem;
  position:relative;
  text-align:center;
  transform-origin:center;
  transition:all 0.25s;
  width:3rem;
  &:hover {
    transform:scale(1.2);
  }
  &.notinview {
    opacity:0;
  }
  &:not(.btn-hexagon).inview {
    animation:pop 0.5s ease-in-out;
  }
  &.btn-hexagon {
    border-radius:0;
    height:3rem * 1.155;
    body.caninview &.inview {
      animation:hexpop 0.5s ease-in-out;
    }
  }
}