header{
    font-family: monospace;
}
.title-container{
    font-family: monospace;
    font-size: 30px;
    margin-top: 25%;
    
}

p{
    font-size: 45px;
}

a{
    color: black;
}

.toggle{
    margin-top: 15px;
    margin-left: 60%;
}
